Repository ibm-granite-community/granite-playground-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, mypy-granite-core, mypy-acp, mypy-a2a

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=600']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        name: gitlint
        language: python
        entry: gitlint
        args: [--staged, --msg-filename]
        stages: [commit-msg]
  - repo: https://github.com/ibm/detect-secrets
    rev: 0.13.1+ibm.64.dss
    hooks:
      - id: detect-secrets
        additional_dependencies:
        - boxsdk~=3.0
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        name: granite_core security
        args: ["-c", "granite_core/pyproject.toml", "-r", "granite_core/granite_core"]
        pass_filenames: false
        additional_dependencies: ['bandit[toml]']
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        name: acp security
        args: ["-c", "acp/pyproject.toml", "-r", "acp/acp_agent"]
        pass_filenames: false
        additional_dependencies: ['bandit[toml]']
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        name: a2a security
        args: ["-c", "a2a/pyproject.toml", "-r", "a2a/a2a_agents"]
        pass_filenames: false
        additional_dependencies: ['bandit[toml]']
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.26
    hooks:
      - id: uv-lock
        name: uv lock granite core
        files: granite_core/pyproject.toml
        args: [--directory, granite_core]
      - id: uv-lock
        name: uv lock acp
        files: acp/pyproject.toml
        args: [--directory, acp]
      - id: uv-lock
        name: uv lock a2a
        files: a2a/pyproject.toml
        args: [--directory, a2a]
  - repo: local
    hooks:
      - id: check-header
        name: check header
        description: Adds a standard header to Python files
        entry: python scripts/check_header.py
        language: python
        types: [file, python]
        args: [--files]
      - id: mypy-granite-core
        name: mypy granite_core
        entry: uv run --directory granite_core --no-sync mypy --ignore-missing-imports granite_core
        language: system
        pass_filenames: false
        types: [python]
        files: granite_core
      - id: mypy-acp
        name: mypy acp
        entry: uv run --directory acp --no-sync mypy --ignore-missing-imports acp_agent
        language: system
        pass_filenames: false
        types: [python]
        files: acp
      - id: mypy-a2a
        name: mypy a2a
        entry: uv run --directory a2a --no-sync mypy --ignore-missing-imports a2a_agents
        language: system
        pass_filenames: false
        types: [python]
        files: a2a

feat: experimental deepagents agent
  .vscode/launch.json
  a2a/a2a_agents/agents/deep_agent/agent.py
  a2a/a2a_agents/agents/deep_agent/factory.py
  a2a/a2a_agents/agents/deep_agent/prompts.py
  a2a/a2a_agents/agents/deep_agent/tools.py
  a2a/pyproject.toml
  a2a/uv.lock
  granite_core/granite_core/py.typed
  pyrightconfig.json
Due: check-header, mypy-a2a

feat: web mcp server
  .pre-commit-config.yaml
  granite_core/granite_core/config.py
  granite_core/granite_core/search/engines/duckduckgo.py
  granite_core/granite_core/search/engines/google.py
  granite_core/granite_core/search/engines/tavily.py
  granite_core/granite_core/search/filter.py
  granite_core/granite_core/search/prompts.py
  granite_core/granite_core/search/scraping/arxiv.py
  granite_core/granite_core/search/scraping/beautiful_soup.py
  granite_core/granite_core/search/scraping/docling.py
  granite_core/granite_core/search/scraping/runner.py
  granite_core/granite_core/search/scraping/scraping.py
  granite_core/granite_core/search/scraping/types.py
  granite_core/granite_core/search/scraping/wikipedia.py
  granite_core/granite_core/search/tool.py
  granite_core/granite_core/search/types.py
  granite_core/granite_core/search/vector_store/vector_store.py
  granite_core/tests/test_scraper.py
  granite_core/tests/test_search.py
  granite_core/tests/test_vector_store.py
  mcp/README.md
  mcp/inspect.sh
  mcp/mcp_servers/web.py
  mcp/pyproject.toml
  mcp/uv.lock
Due: check-header, mypy-granite-core

fix: merge issue
  granite_core/granite_core/research/researcher.py
Due: check-header, mypy-granite-core

fix: clean up mcp service implementation
  .github/workflows/pytest.yml
  .vscode/settings.json
  granite_core_mcp/README.md
  granite_core_mcp/granite_core_mcp/__init__.py
  granite_core_mcp/granite_core_mcp/base.py
  granite_core_mcp/granite_core_mcp/internet_search.py
  granite_core_mcp/pyproject.toml
  granite_core_mcp/tests/__init__.py
  granite_core_mcp/tests/test_internet_search_mcp.py
  granite_core_mcp/uv.lock
  mcp/README.md
  mcp/inspect.sh
  mcp/mcp_servers/internet_search.py
  mcp/pyproject.toml
  pyrightconfig.json
Due: check-header, mypy-granite-core

fix: simplify mcp interface
  mcp/mcp_servers/internet_search.py
  mcp/mcp_servers/web.py
Due: check-header

feat: web mcp server (#29)
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  granite_core/granite_core/config.py
  granite_core/granite_core/research/researcher.py
  granite_core/granite_core/search/engines/duckduckgo.py
  granite_core/granite_core/search/engines/google.py
  granite_core/granite_core/search/engines/tavily.py
  granite_core/granite_core/search/filter.py
  granite_core/granite_core/search/prompts.py
  granite_core/granite_core/search/scraping/arxiv.py
  granite_core/granite_core/search/scraping/beautiful_soup.py
  granite_core/granite_core/search/scraping/docling.py
  granite_core/granite_core/search/scraping/runner.py
  granite_core/granite_core/search/scraping/scraping.py
  granite_core/granite_core/search/scraping/types.py
  granite_core/granite_core/search/scraping/wikipedia.py
  granite_core/granite_core/search/tool.py
  granite_core/granite_core/search/types.py
  granite_core/granite_core/search/vector_store/vector_store.py
  granite_core/tests/test_scraper.py
  granite_core/tests/test_search.py
  granite_core/tests/test_vector_store.py
  granite_core_mcp/README.md
  granite_core_mcp/granite_core_mcp/__init__.py
  granite_core_mcp/granite_core_mcp/base.py
  granite_core_mcp/granite_core_mcp/internet_search.py
  granite_core_mcp/pyproject.toml
  granite_core_mcp/tests/__init__.py
  granite_core_mcp/tests/test_internet_search_mcp.py
  granite_core_mcp/uv.lock
  pyrightconfig.json
Due: check-header, mypy-granite-core

feat: bandit pre-commit checking and fixes
  .pre-commit-config.yaml
  granite_core/granite_core/search/embeddings/tokenizer.py
  granite_core/granite_core/search/scraping/utils.py
  granite_core/pyproject.toml
Due: check-header, mypy-granite-core

fix: update a2a docs and launch json
  .vscode/launch.json
  README.md
Due: none

feat: deepagents prototype
  a2a/a2a_agents/agents/deep/agent.py
  a2a/a2a_agents/agents/deep/factory.py
  a2a/a2a_agents/agents/deep/middleware.py
  a2a/a2a_agents/agents/deep/prompts.py
  a2a/a2a_agents/agents/deep/util.py
  a2a/pyproject.toml
  a2a/uv.lock
Due: check-header, mypy-a2a

fix: granite 4 tool call formatting fix
  .vscode/launch.json
  a2a/a2a_agents/agents/deep/agent.py
  a2a/a2a_agents/agents/deep/middleware.py
  a2a/a2a_agents/agents/deep/prompts.py
Due: check-header, mypy-a2a

fix: use httpx to read robots.txt
  granite_core/granite_core/config.py
  granite_core/granite_core/search/robots.py
  granite_core/granite_core/search/scraping/arxiv.py
  granite_core/granite_core/search/scraping/base.py
  granite_core/granite_core/search/scraping/beautiful_soup.py
  granite_core/granite_core/search/scraping/docling.py
  granite_core/granite_core/search/scraping/runner.py
  granite_core/tests/test_robots.py
  granite_core/tests/test_scraper.py
Due: check-header, mypy-granite-core

fix: close httpx client
  granite_core/granite_core/search/scraping/runner.py
  granite_core/granite_core/search/scraping/scraping.py
Due: check-header, mypy-granite-core

fix: change test to avoid async loop error
  granite_core/tests/test_scraper.py
Due: check-header, mypy-granite-core

fix: follow redirects, more tests
  granite_core/granite_core/search/robots.py
  granite_core/tests/test_robots.py
Due: check-header, mypy-granite-core

fix: better logging, more tests
  granite_core/granite_core/search/robots.py
  granite_core/tests/test_robots.py
Due: check-header, mypy-granite-core

fix: remove print statement
  granite_core/tests/test_robots.py
Due: check-header, mypy-granite-core

fix: sanitize embeddings
  granite_core/granite_core/search/embeddings/utils.py
  granite_core/granite_core/search/embeddings/watsonx.py
Due: check-header, mypy-granite-core

fix: relax the copyright guardrail
  granite_core/granite_core/gurardrails/copyright.py
Due: check-header, mypy-granite-core

fix: better robots logic and ttl
  granite_core/granite_core/search/robots.py
  granite_core/tests/test_robots.py
Due: check-header, mypy-granite-core

fix: improve data sanitization for embeddings
  granite_core/granite_core/search/embeddings/utils.py
  granite_core/granite_core/search/embeddings/watsonx.py
  granite_core/tests/test_embeddings.py
Due: check-header, mypy-granite-core

fix: increase scraper httpx client read timeout
  granite_core/granite_core/search/scraping/runner.py
Due: check-header, mypy-granite-core

fix: relax citation similarity threshold
  granite_core/granite_core/config.py
Due: check-header, mypy-granite-core

fix: update scraper test case
  granite_core/tests/test_scraper.py
Due: check-header, mypy-granite-core

fix: correct run commands
  granite_core_mcp/README.md
Due: none

Fix/update scraper test (#41)
  granite_core/tests/test_scraper.py
Due: check-header, mypy-granite-core

fix: relax citation similarity threshold (#40)
  granite_core/granite_core/config.py
Due: check-header, mypy-granite-core
