Repository ibm-granite-community/granite-playground-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, mypy-granite-core, mypy-acp, mypy-a2a

check-header:
  name: check header
  description: Adds a standard header to Python files
  entry: python scripts/check_header.py
  language: python
  args:
  - --files

mypy-granite-core:
  name: mypy granite_core
  entry: uv run --directory granite_core --no-sync mypy --ignore-missing-imports granite_core
  language: system
  pass_filenames: false

mypy-acp:
  name: mypy acp
  entry: uv run --directory acp --no-sync mypy --ignore-missing-imports acp_agent
  language: system
  pass_filenames: false

mypy-a2a:
  name: mypy a2a
  entry: uv run --directory a2a --no-sync mypy --ignore-missing-imports a2a_agents
  language: system
  pass_filenames: false

fix: clean up and add docs
  a2a/a2a_agents/agents/deep/README.md
  a2a/a2a_agents/agents/deep/agent.py
  a2a/a2a_agents/agents/deep/agent_factory.py
  a2a/a2a_agents/agents/deep/model_factory.py
  a2a/a2a_agents/agents/deep/util.py
  a2a/pyproject.toml
  a2a/uv.lock
Due: check-header, mypy-a2a

fix: keep detect-secrets happy
  a2a/a2a_agents/agents/deep/README.md
Due: none

fix: correct run commands
  granite_core_mcp/README.md
Due: none

Checkpoint: c9d09518eeb7
  c9/d09518eeb7/0/content_hash.txt
  c9/d09518eeb7/0/context.md
  c9/d09518eeb7/0/full.jsonl
  c9/d09518eeb7/0/metadata.json
  c9/d09518eeb7/0/prompt.txt
  c9/d09518eeb7/metadata.json
Due: none

fix: according to agreed list from our discussion
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: testcase check in PR template (#23)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: correct resource and tokenizer instantiation
  granite_core/granite_core/citations/citations.py
Due: check-header, mypy-granite-core

fix: preload punkt in acp dockerfile
  acp/Dockerfile
Due: none

fix: nltk downloading during build
  acp/Dockerfile
Due: none

fix: punkt tab preload for a2a images
  a2a/Dockerfiles/agent/Dockerfile
  a2a/Dockerfiles/agent_research/Dockerfile
  a2a/Dockerfiles/agent_search/Dockerfile
Due: none

fix: lazy load the punkt tokenizer
  granite_core/granite_core/citations/citations.py
Due: check-header, mypy-granite-core

fix: preload punkt-tab
  acp/Dockerfile
  granite_core/granite_core/citations/citations.py
Due: check-header, mypy-granite-core

fix: location of Dockerfiles
  a2a/Dockerfile_agent
  a2a/Dockerfile_agent_chat
  a2a/Dockerfile_agent_research
  a2a/Dockerfile_agent_search
Due: none

fix: lazy load the punkt tokenizer (#44)
  a2a/Dockerfile_agent
  a2a/Dockerfile_agent_chat
  a2a/Dockerfile_agent_research
  a2a/Dockerfile_agent_search
  acp/Dockerfile
  granite_core/granite_core/citations/citations.py
Due: check-header, mypy-granite-core

fix: better handling of requests for links
  a2a/a2a_agents/agents/agent.py
  a2a/a2a_agents/agents/research/agent_research.py
  a2a/a2a_agents/agents/search/agent_search.py
  a2a/a2a_agents/config.py
  granite_core/granite_core/search/prompts.py
  granite_core/granite_core/search/vector_store/vector_store.py
Due: check-header, mypy-granite-core, mypy-a2a

fix: tweak prompts for more consistent responses
  a2a/a2a_agents/agents/chat/agent_chat.py
  a2a/a2a_agents/utils.py
  granite_core/granite_core/chat/prompts.py
  granite_core/granite_core/search/prompts.py
Due: check-header, mypy-granite-core, mypy-a2a

feat: research topic clarification
  granite_core/granite_core/research/prompts.py
  granite_core/granite_core/research/researcher.py
  granite_core/granite_core/research/types.py
Due: check-header, mypy-granite-core

fix: better clarification prompt to avoid unecessary discussion
  granite_core/granite_core/research/prompts.py
Due: check-header, mypy-granite-core

fix: generalize chat handler, add web access guardrail
  a2a/a2a_agents/agents/chat/agent_chat.py
  a2a/a2a_agents/agents/search/agent_search.py
  acp/acp_agent/agent.py
  granite_core/granite_core/chat/__init__.py
  granite_core/granite_core/chat/handler.py
  granite_core/granite_core/events.py
  granite_core/granite_core/gurardrails/base.py
  granite_core/granite_core/gurardrails/copyright.py
  granite_core/granite_core/gurardrails/web_access.py
  granite_core/tests/test_chat_handler.py
  granite_core/tests/test_guardrails.py
Due: check-header, mypy-granite-core, mypy-acp, mypy-a2a

feat: deepagents prototype
  a2a/a2a_agents/agents/deep/agent.py
  a2a/a2a_agents/agents/deep/factory.py
  a2a/a2a_agents/agents/deep/middleware.py
  a2a/a2a_agents/agents/deep/prompts.py
  a2a/a2a_agents/agents/deep/util.py
  a2a/pyproject.toml
  a2a/uv.lock
Due: check-header, mypy-a2a

fix: granite 4 tool call formatting fix
  .vscode/launch.json
  a2a/a2a_agents/agents/deep/agent.py
  a2a/a2a_agents/agents/deep/middleware.py
  a2a/a2a_agents/agents/deep/prompts.py
Due: check-header, mypy-a2a

fix: better handling of requests for links (#46)
  a2a/a2a_agents/agents/agent.py
  a2a/a2a_agents/agents/chat/agent_chat.py
  a2a/a2a_agents/agents/research/agent_research.py
  a2a/a2a_agents/agents/search/agent_search.py
  a2a/a2a_agents/config.py
  a2a/a2a_agents/utils.py
  acp/acp_agent/agent.py
  granite_core/granite_core/chat/__init__.py
  granite_core/granite_core/chat/handler.py
  granite_core/granite_core/chat/prompts.py
  granite_core/granite_core/events.py
  granite_core/granite_core/gurardrails/base.py
  granite_core/granite_core/gurardrails/copyright.py
  granite_core/granite_core/gurardrails/web_access.py
  granite_core/granite_core/search/prompts.py
  granite_core/granite_core/search/vector_store/vector_store.py
  granite_core/tests/test_chat_handler.py
  granite_core/tests/test_guardrails.py
Due: check-header, mypy-granite-core, mypy-acp, mypy-a2a

feat: research topic clarification (#47)
  granite_core/granite_core/research/prompts.py
  granite_core/granite_core/research/researcher.py
  granite_core/granite_core/research/types.py
Due: check-header, mypy-granite-core

fix: fix typeerrors in trajectory handler
  a2a/a2a_agents/trajectory.py
Due: check-header, mypy-a2a

fix: add interactive switch to researcher
  a2a/a2a_agents/agents/research/agent_research.py
  granite_core/granite_core/research/researcher.py
Due: check-header, mypy-granite-core, mypy-a2a

fix: add interactive research test case
  granite_core/tests/test_research.py
Due: check-header, mypy-granite-core

fix: revert changes to trajectory handler
  a2a/a2a_agents/trajectory.py
Due: check-header, mypy-a2a

Fix/topic clarification switch (#48)
  a2a/a2a_agents/agents/research/agent_research.py
  a2a/a2a_agents/trajectory.py
  granite_core/granite_core/research/researcher.py
  granite_core/tests/test_research.py
Due: check-header, mypy-granite-core, mypy-a2a

fix: acp agent should fallback to no search prompt when doc search fails
  acp/acp_agent/agent.py
Due: check-header, mypy-acp

fix: acp agent should fallback to no search prompt when doc search fails (#49)
  acp/acp_agent/agent.py
Due: check-header, mypy-acp

fix: pinactions to full-length commit SHAs
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: none

fix: pinactions to full-length commit SHAs (#51)
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: none

feat: http agent implementation
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  README.md
  http/.python-version
  http/http_agents/__init__.py
  http/http_agents/config.py
  http/http_agents/main.py
  http/http_agents/models/__init__.py
  http/http_agents/models/requests.py
  http/http_agents/models/responses.py
  http/http_agents/routers/__init__.py
  http/http_agents/routers/chat.py
  http/http_agents/routers/health.py
  http/http_agents/routers/research.py
  http/http_agents/routers/search.py
  http/http_agents/routers/sessions.py
  http/http_agents/services/__init__.py
  http/http_agents/services/session_manager.py
  http/http_agents/utils/__init__.py
  http/http_agents/utils/converters.py
  http/http_agents/utils/streaming.py
  http/pyproject.toml
  http/uv.lock
Due: check-header

fix: correct streaming behavior for chat and search
  http/http_agents/routers/chat.py
  http/http_agents/routers/search.py
  http/http_agents/utils/event_queue.py
Due: check-header

fix: refactor event stream handling
  http/http_agents/routers/chat.py
Due: check-header

Path conditions:
  check-header: any of: \.py$
  mypy-granite-core: any of: granite_core and \.py$
  mypy-acp: any of: acp and \.py$
  mypy-a2a: any of: a2a and \.py$
